.main
  .title
    .group
      %h2.group__name
        = @group.name
      %ul.member-list<
        Member:
        %li.member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to edit_group_path(@group.id) do
      .edit-btn
        Edit
  .body
    .message-box
      = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form__message', id: 'new_message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit', type: 'reset'

