.message-box{"data-message-id": "#{message.id}"}
  .upper-info
    %p.upper-info__user
      = message.user.name
    %p.upper-info__datatime
      = message.created_at.to_s
  .lower-message
    - if message.body.present?
      %p.lower-message__content
      = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
